.menuPrincipal {
  display: flex !important;
  justify-content: space-around !important;
  width: 60vw;
}
.logoContainer {
  width: 6rem;
  margin-top: -6px;
  transition-duration: 0.5s;
  &:hover {
    transform: scale(1.3);
  }
}
.LinkTo {
  a {
    color: #ffffff !important;
    &:hover {
      color: orange !important;
    }
  }
}
.whatsapp{
  color: #25d366;
  transition-duration: 0.4s;
  cursor: pointer;
 &:hover{
  transform: scale(1.5);
 }
}
.facebook{
  color: #FFFFFF;
  transition-duration: 0.4s;
  cursor: pointer;
 &:hover{
  transform: scale(1.5);
 }
}
.instagram{
  color: #F56040;
  transition-duration: 0.4s;
  cursor: pointer;
 &:hover{
  transform: scale(1.5);
 }
}
