.menuPrincipal {
  display: flex !important;
  justify-content: space-around !important;
  width: 60vw;
}
.logoContainer {
  width: 6rem;
  margin-top: -6px;
  transition-duration: 0.5s;
  &:hover {
    transform: scale(1.3);
  }
}
.LinkTo {
  a {
    color: #ffffff !important;
    &:hover {
      color: orange !important;
    }
  }
}
.whatsapp {
  color: #25d366;
  transition-duration: 0.4s;
  cursor: pointer;
  &:hover {
    transform: scale(1.5);
  }
}
.facebook {
  color: #ffffff;
  transition-duration: 0.4s;
  cursor: pointer;
  &:hover {
    transform: scale(1.5);
  }
}
.instagram {
  color: #f56040;
  transition-duration: 0.4s;
  cursor: pointer;
  &:hover {
    transform: scale(1.5);
  }
}
.tituloServicio {
  text-align: center;
  h1 {
    color: #000000 !important;
  }
}
.descripcion {
  font-weight: 400;
}
.carrouselPhotos {
  margin-top: 3.5rem;
  left: 8%;
  max-width: 60vw;
  @media screen and (max-width: @screen-xs-max) {
    left: 0;
    div img {
      max-width: 85vw;
    }
  }
}
.patternMessage {
  display: flex;
  flex-direction: column;
}
.cardMessage {
  width: 60vw !important;
  padding: 10px;
  @media screen and (max-width: @screen-xs-max) {
    max-width: none;
  }
}
.titleMg {
  text-align: center;
  font-size: 50px;
  font-weight: 600px;
  margin-top: 28vh;
  color: #000000;
  transition-duration: 0.4s;
}
.subtitleMG {
  text-align: center;
  font-size: 50px;
  font-weight: 600px;
  color: #000000;
  @media screen and (max-width: @screen-xs-max) {
    color: #ffffff;
  }
}
.btnDelete {
  float: right;
}
